<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="eu.jsparrow.jdt.ls.core.delegateCommandHandler" name="delegateCommandHandler" schema="schema/eu.jsparrow.jdt.ls.core.delegateCommandHandler.exsd"/>
   <extension-point id="eu.jsparrow.jdt.ls.core.importers" name="JDT LS Project Importer" schema="schema/eu.jsparrow.jdt.ls.core.importers.exsd"/>
   <extension-point id="eu.jsparrow.jdt.ls.core.contentProvider" name="contentProvider" schema="schema/eu.jsparrow.jdt.ls.core.contentProvider.exsd"/>
   <extension-point id="eu.jsparrow.jdt.ls.core.buildSupport" name="Build Support" schema="schema/eu.jsparrow.jdt.ls.core.buildSupport.exsd"/>
   <extension
         id="id1"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="eu.jsparrow.jdt.ls.core.internal.LanguageServer">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="eu.jsparrow.jdt.ls.core.id1"
            name="Java Language Server">
         <property
               name="appName"
               value="Java Language Server">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
   </extension>

   <extension
         id="importers"
         point="eu.jsparrow.jdt.ls.core.importers">
         <importer
            id = "gradleProjectImporter"
            order ="300"
            class = "eu.jsparrow.jdt.ls.core.internal.managers.GradleProjectImporter"/>
         <importer
            id = "mavenProjectImporter"
            order = "400"
            class = "eu.jsparrow.jdt.ls.core.internal.managers.MavenProjectImporter"/>
         <importer
            id = "eclipseProjectImporter"
            order = "1000"
            class = "eu.jsparrow.jdt.ls.core.internal.managers.EclipseProjectImporter"/>
         <importer
            id="invisibleProjectImporter"
            order="1500"
            class="eu.jsparrow.jdt.ls.core.internal.managers.InvisibleProjectImporter" />
   </extension>
   <extension
   		 id="buildSupport"
         point="eu.jsparrow.jdt.ls.core.buildSupport">
         <buildSupport
         	id="gradleBuildSupport"
         	order="300"
         	class="eu.jsparrow.jdt.ls.core.internal.managers.GradleBuildSupport" />
         <buildSupport
         	id="mavenBuildSupport"
         	order="400"
         	class="eu.jsparrow.jdt.ls.core.internal.managers.MavenBuildSupport" />
     	 <buildSupport
	     	id="invisibleProjectBuildSupport"
	     	order="1000"
	     	class="eu.jsparrow.jdt.ls.core.internal.managers.InvisibleProjectBuildSupport" />
     	<buildSupport
	     	id="defaultProjectBuildSupport"
	     	order="1500"
	     	class="eu.jsparrow.jdt.ls.core.internal.managers.DefaultProjectBuildSupport" />
     	<buildSupport
	     	id="eclipseBuildSupport"
	     	order="2000"
	     	class="eu.jsparrow.jdt.ls.core.internal.managers.EclipseBuildSupport" />
   </extension>
</plugin>
