<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<!-- You can reuse expressions for conditions by defining them once -->
	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="eu.jsparrow.ui.filter.menuItemFilter">
			<with variable="activeMenuSelection">
				<iterate ifEmpty="false">
					<and>
						<adapt type="org.eclipse.core.resources.IResource">
						</adapt>
						<or>
							<adapt type="org.eclipse.jdt.core.IJavaProject" />
							<adapt type="org.eclipse.core.resources.IProject" />
							<adapt type="org.eclipse.jdt.core.IPackageFragment" />
							<adapt type="org.eclipse.jdt.core.IPackageFragmentRoot" />
							<adapt type="org.eclipse.jdt.core.ICompilationUnit" />
						</or>
					</and>
				</iterate>
			</with>
		</definition>
	</extension>

	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=org.eclipse.jdt.ui.refactoring.menu">
			<menu icon="icons/jSparrow_active_icon_16.png" id="jsparrow.menu"
				label="%menu.label">
				<visibleWhen>
					<reference definitionId="eu.jsparrow.ui.filter.menuItemFilter">
					</reference>
				</visibleWhen>
				<command commandId="eu.jsparrow.ui.SelectRulesWizardHandler"
					label="%command.label.select_rules_wizard" style="push" />
				<command commandId="eu.jsparrow.ui.LoggerRuleWizardHandler"
					label="%command.label.logger_rule_wizard" style="push" />
				<command commandId="eu.jsparrow.ui.RenameFieldsRuleWizardHandler"
					label="%command.label.rename_fields_rule_wizard" style="push" />
			</menu>
		</menuContribution>
		<menuContribution
			locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?endof=group.edit">
			<menu icon="icons/jSparrow_active_icon_16.png" label="%menu.label">
				<command commandId="eu.jsparrow.ui.SelectRulesWizardHandler"
					label="%command.label.select_rules_wizard" style="push" />
				<command commandId="eu.jsparrow.ui.LoggerRuleWizardHandler"
					label="%command.label.logger_rule_wizard" style="push" />
				<command commandId="eu.jsparrow.ui.RenameFieldsRuleWizardHandler"
					label="%command.label.rename_fields_rule_wizard" style="push" />
			</menu>
		</menuContribution>
		<menuContribution
			locationURI="popup:#CompilationUnitEditorContext?after=org.eclipse.jdt.ui.refactoring.menu">
			<menu icon="icons/jSparrow_active_icon_16.png" label="%menu.label">
				<command commandId="eu.jsparrow.ui.SelectRulesWizardHandler"
					label="%command.label.select_rules_wizard" style="push" />
				<command commandId="eu.jsparrow.ui.LoggerRuleWizardHandler"
					label="%command.label.logger_rule_wizard" style="push" />
				<command commandId="eu.jsparrow.ui.RenameFieldsRuleWizardHandler"
					label="%command.label.rename_fields_rule_wizard" style="push" />
			</menu>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.commands">
		<command defaultHandler="eu.jsparrow.ui.handler.SelectRulesWizardHandler"
			id="eu.jsparrow.ui.SelectRulesWizardHandler" name="%command.name.select_rules_wizard_handler" />
		<command defaultHandler="eu.jsparrow.ui.handler.LoggerRuleWizardHandler"
			id="eu.jsparrow.ui.LoggerRuleWizardHandler" name="%command.name.logger_rule_wizard_handler" />
		<command defaultHandler="eu.jsparrow.ui.handler.RenameFieldsRuleWizardHandler"
			id="eu.jsparrow.ui.RenameFieldsRuleWizardHandler" name="%command.name.rename_fields_wizard_handler" />
		<command defaultHandler="eu.jsparrow.ui.handler.WelcomeHandler"
           id="eu.jsparrow.ui.handler.WelcomeHandler" name="jSparrow Dashboard" />
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page class="eu.jsparrow.ui.preference.SimonykeesPreferencePage"
			id="eu.jsparrow.ui.preference.ProfilePreferencePage" name="%preferencePage.name" />
		<page category="eu.jsparrow.ui.preference.ProfilePreferencePage"
			class="eu.jsparrow.ui.preference.SimonykeesPreferencePageLicense" id="eu.jsparrow.ui.preference.ProfilePreferencePageLicense"
			name="%preferencePageLicense.name" />
	</extension>
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
			class="eu.jsparrow.ui.preference.SimonykeesPreferenceInitializer" />
	</extension>
	<extension point="org.eclipse.ui.startup">
		<startup class="eu.jsparrow.ui.startup.Startup" />
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor
			class="eu.jsparrow.ui.startup.WelcomeEditor"
			icon="$nl$/icons/jSparrow_active_icon_16.png"
			id="ui.editors.jsparrow.WelcomeEditor"
			name="jSparrow Dashboard">
		</editor>
	</extension>
	 
 	<extension point="org.eclipse.ui.elementFactories">
    	<factory
          class="eu.jsparrow.ui.startup.WelcomeEditorInputFactory"
          id="eu.jsparrow.ui.startup.elementFactory">
    	</factory>
 	</extension>
 	
 	  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="toolbar:org.eclipse.ui.main.toolbar">
        <toolbar
              id="eu.jsparrow.ui.startup.toolbar"
              label="jSparrow Dashboard">
           <command
                 commandId="eu.jsparrow.ui.handler.WelcomeHandler"
                 icon="$nl$/icons/jSparrow_active_icon_16.png"
                 label="jSparrow Dashboard"
                 style="push">
           </command>
        </toolbar>
     </menuContribution>
  </extension>
   
 	<!-- jSparrow Marker Annotations -->
	<extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
		<specification
			annotationImageProvider="eu.jsparrow.ui.markers.JSparrowImageProvider"
			annotationType="jsparrow"
			colorPreferenceKey="jsparrow.marker.color"
            colorPreferenceValue="57,59,52"
            contributesToHeader="true"
            highlightPreferenceKey="jsparrow.marker.highlight"
            highlightPreferenceValue="true"
            icon="icons/jSparrow_active_icon_16.png"
            includeOnPreferencePage="true"
            label="jSparrow Refactor"
            overviewRulerPreferenceKey="jsparrow.marker.overview"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            quickFixIcon="icons/jSparrow_active_icon_16.png"
            showInNextPrevDropdownToolbarAction="true"
            textPreferenceKey="jsparrow.marker.text"
            textPreferenceValue="true"
            textStylePreferenceKey="jsparrow.marker.style"
            textStylePreferenceValue="SQUIGGLES"
            verticalRulerPreferenceKey="jsparrow.marker.ruler"
            verticalRulerPreferenceValue="true">
		</specification>
	</extension>
	<extension
		point="org.eclipse.ui.editors.annotationTypes">
		<type
			markerSeverity="0"
			markerType="jsparrow.marker"
			name="jsparrow">
		</type>
	</extension>
	<extension
		id="jsparrow.marker"
		name="jSparrow"
		point="org.eclipse.core.resources.markers">
		<super
			type="org.eclipse.core.resources.problemmarker">
		</super>
		<super
			type="org.eclipse.core.resources.textmarker">
		</super>
		<persistent
			value="false">
		</persistent>
	</extension>
   
   <!-- jSparrow Marker Resolution -->
	<extension
			point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			class="eu.jsparrow.ui.markers.JSparrowMarkerResolutionGenerator"
			markerType="jsparrow.marker">
		</markerResolutionGenerator>
	</extension>
  
</plugin>
