<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


   <extension
         point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=org.eclipse.jdt.ui.refactoring.menu">
         <menu
               label="Simonykees">
            <command
                  commandId="at.splendit.simonykees.simonykees.core.ModifyingRewriteHandler"
                  label="ModifyingRewriteHandle"
                  style="push">
            </command>
            <command
                  commandId="at.splendit.simonykees.simonykees.core.DescriptiveRewriteHandler"
                  label="DescriptiveRewriteHandler"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=org.eclipse.jdt.ui.refactoring.menu">
         <menu
               label="Simonykees">
            <command
                  commandId="at.splendit.simonykees.simonykees.core.ModifyingRewriteHandler"
                  label="ModifyingRewriteHandle"
                  style="push">
            </command>
            <command
                  commandId="at.splendit.simonykees.simonykees.core.DescriptiveRewriteHandler"
                  label="DescriptiveRewriteHandler"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution locationURI="popup:#CompilationUnitEditorContext?after=org.eclipse.jdt.ui.refactoring.menu">
         <menu
               label="Simonykees">
            <command
                  commandId="at.splendit.simonykees.simonykees.core.ModifyingRewriteHandler"
                  label="ModifyingRewriteHandler"
                  style="push">
            </command>
            <command
                  commandId="at.splendit.simonykees.simonykees.core.DescriptiveRewriteHandler"
                  label="DescriptiveRewriteHandler"
                  style="push">
            </command>
            <command
                  commandId="at.splendit.simonykees.simonykees.core.TryWithResourceHandler"
                  label="TryWithResourceHandler"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="at.splendit.simonykees.core.handler.ModifyingRewriteHandler"
            id="at.splendit.simonykees.simonykees.core.ModifyingRewriteHandler"
            name="ModifyingRewriteHandle">
      </command>
      <command
            defaultHandler="at.splendit.simonykees.core.handler.DescriptiveRewriteHandler"
            id="at.splendit.simonykees.simonykees.core.DescriptiveRewriteHandler"
            name="DescriptiveRewriteHandler">
      </command>
      <command
            defaultHandler="at.splendit.simonykees.core.handler.TryWithResourceHandler"
            id="at.splendit.simonykees.simonykees.core.TryWithResourceHandler"
            name="ModifyingRewriteHandle">
      </command>
   </extension>

</plugin>
