<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


   <extension
         point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=org.eclipse.jdt.ui.refactoring.menu">
         <menu
               label="Simonykees">
            <command
                  commandId="at.splendit.simonykees.simonykees.core.AstRecord"
                  label="AstRecord"
                  style="push">
            </command>
            <command
                  commandId="at.splendit.simonykees.simonykees.core.AstRewrite"
                  label="AstRewrite"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=org.eclipse.jdt.ui.refactoring.menu">
         <menu
               label="Simonykees">
            <command
                  commandId="at.splendit.simonykees.simonykees.core.AstRecord"
                  label="AstRecord"
                  style="push">
            </command>
            <command
                  commandId="at.splendit.simonykees.simonykees.core.AstRewrite"
                  label="AstRewrite"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution locationURI="popup:#CompilationUnitEditorContext?after=org.eclipse.jdt.ui.refactoring.menu">
         <menu
               label="Simonykees">
            <command
                  commandId="at.splendit.simonykees.simonykees.core.AstRecord"
                  label="AstRecord"
                  style="push">
            </command>
            <command
                  commandId="at.splendit.simonykees.simonykees.core.AstRewrite"
                  label="AstRewrite"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="at.splendit.simonykees.core.handler.AstRecordHandler"
            id="at.splendit.simonykees.simonykees.core.AstRecord"
            name="AstRecord">
      </command>
      <command
            defaultHandler="at.splendit.simonykees.core.handler.AstRewriteHandler"
            id="at.splendit.simonykees.simonykees.core.AstRewrite"
            name="AstRewrite">
      </command>
   </extension>

</plugin>
